* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.click-through {
  pointer-events: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='your_transparent.png', sizingMethod='scale');
  background: none !important;
}

input[type=text] {
  background-color: transparent;
  border: none;
  height: 50px;
  font: 200 1em "Avenir";
  overflow: hidden;
  width: 100%;
}

input[type=text]:focus{
  outline: 0;
}

input[type=checkbox] {
  cursor: pointer;
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  font-family: 'Avenir', 'Montserrat', sans-serif;
  font-size: 0.875em;
  font-weight: 500;
  text-align: center;
}

button:focus {
  outline: none;
}

html, body {
  background: #F4F4F4;
  font-family: 'Avenir', 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
  position: relative;
  z-index: -2;
}

body {
}

.outer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.outer.normal {
  height: auto;
  overflow: auto;
}

.inner {
  position: relative;
  top: 0;
}

.landing {
  background-color: #f4f4f4;
  width: 100vw;
  height: 100vh;
}

.landing .graphic-container {
  background-color: #F4F4F4;
  height: 100%;
  min-height: 512px;
  width: 100%;
  max-width: 600px;
  position: relative;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.landing .graphic {
  position: absolute;
  bottom: 0;
  height: 100%;
  left: 0;
  max-height: 512px;
  max-width: 600px;
  overflow-y: hidden;
  width: 100%;
}

.landing .graphic .mask {
  cursor: pointer;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.landing .graphic #ballot {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 3;
  
  -webkit-transition: bottom 0.1s ease-in-out;
     -moz-transition: bottom 0.1s ease-in-out;
      -ms-transition: bottom 0.1s ease-in-out;
       -o-transition: bottom 0.1s ease-in-out;
          transition: bottom 0.1s ease-in-out;
}

.landing .graphic .mask:hover ~ #ballot {
  bottom: -15px;
}

.main {
  padding-top: 400px;
  width: 100vw;
}

.flex {
  float: left;
  position: relative;
  width: 100vw;
}

.flex-left {
  width: 600px;
}

.flex-right {
  width: 350px;
}

.column {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: 100%;
}

.questions {
  background-color: #f4f4f4;
  min-height: 100vh;
}

.blanket {
  background-color: rgba(0,0,0,0.7);
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 12;
}

.topics-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 13;
}

.topics {
  background-color: #ffffff;
  font-family: "Avenir", "Muli", sans-serif;
  height: 50px;
  left: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  position: relative;
  width: 100%;
  z-index: 13;
  
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);
}

.selector {
  background-color: #f4f4f4;
  max-height: 50px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 228px;
}

.selector .search {
  border-bottom: 2px solid #4d4d4d;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.selector .list {
  background-color: #f4f4f4;
  border-bottom: 2px solid #4d4d4d;
  margin-left: 20px;
  margin-right: 20px;
  max-height: 300px;
  padding-bottom: 20px;
  overflow: scroll;
}

.topics .placeholder {
  height: 50px;
  position: relative;
  width: 100%;
}

.issue {
  margin-top: 20px;
}

.topics .selector .btn {
  background-color: #f4f4f4;
  bottom: 0;
  left: 0;
  color: #4d4d4d;
  font-size: 1em;
  font-weight: 800;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  width: 100%;
  z-index: 11;
}

.topics .selector .btn:hover {
  background-color: #e6e6e6;
}

.topics .selector .btn.done {
  color: #3038F2;
}

.topics .selector .btn .triangle {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #4d4d4d;
  float: right;
  height: 0;
  margin-top: 21px;
  width: 0;
}

.topics .selector .triangle.up {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: none;
  border-bottom: 8px solid #4d4d4d;
}

.topics .fade {
  height: 50px;
  position: absolute;
  right: 228px;
  top: 0;
  width: 50px;
  
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.99) 99%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(99%,rgba(255,255,255,0.99)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.99) 99%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.99) 99%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.99) 99%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.99) 99%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.question {
  background-color: #FFFFFF;
  min-height: 150px;
  position: relative;
  
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
}

.card {
  margin-bottom: 30px;
  position: relative;
}

.card.ng-enter,
.card.ng-leave {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.card.ng-enter {
  opacity: 0;
  top: 15px;
}

.card.ng-leave.ng-leave-active {
  opacity: 0;
  top: -15px;
}


.card.ng-enter-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  transition-delay: 0.09s;
  /* in case the stagger doesn't work then the duration value
   must be set to 0 to avoid an accidental CSS inheritance */
  transition-duration: 0s;
}

.card.ng-leave {
  opacity: 1;
  top: 0;
}

.card.ng-enter.ng-enter-active {
  opacity: 1;
  top: 0;
}

.question .content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  position: relative;
  z-index: 1;
}

.question .content .prompt {
  font-size: 1.125em;
  font-weight: 700;
}

.question .content .info {
  font: 400 0.875em "Source Serif Pro";
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.question .buttons {
  height: 35px;
  width: 100%;
}

.question .buttons .wrapper {
  height: 35px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.btn-answer {
  border: none;
  color: #FFFFFF;
  height: 100%;
  opacity: 0.8;
  text-align: center;
  width: 55px;
  position: relative;
}

.yes {
  background-color: #70B562;
}

.no {
  background-color: #D64B38;
}

.skip {
  background-color: #B3B3B3;
}

.question .buttons .wrapper .bar {
  height: 3px;
  width: 0;
  margin-top: 32px;
  position: relative;
  z-index: 3;
  
  -webkit-transition: width 0.15s ease-in-out;
  -moz-transition: width 0.15s ease-in-out;
  -ms-transition: width 0.15s ease-in-out;
  -o-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

.question .buttons .wrapper .bar.extend {
  width: 100%;
  z-index: 5;
}

.btn-answer.yes {
  float: left;
  z-index: 2;
}

.btn-answer.no {
  float: left;
  z-index: 2;
}

.btn-answer.skip {
  float: right;
  z-index: 4;
}

.btn-answer:hover {
  opacity: 1;
}

.btn-answer.selected {
  opacity: 1;
  z-index: 5;
}

.btn-answer.deselected {
  opacity: 0.5;
}

.btn-answer.deselected:hover {
  opacity: 0.7;
}

.skip-cover {
  background-color: white;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.5;
  z-index: 3;
}


.candidates {
  background: #F4F4F4;
  z-index: 20;
}

.candidates.fixed {
  bottom: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 0;
}

.candidates .column {
  background-color: #FFFFFF;
  height: 100vh;
  
  -webkit-box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.25);
  box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.25);
}

.candidates .header {
  background-color: #1A1A1A;
  color: #ffffff;
  font: 600 1em "Avenir";
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  width: 100%;
}

.candidate {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.meter .icon {
  float: left;
  height: 50px;
  overflow: hidden;
  width: 50px;
  
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

.meter .icon img {
  max-width: 100%;
  max-height: 100%;
}

.meter .btn-info {
  background-color: transparent;
  color: grey;
  font: 400 0.9em 'Avenir', 'Muli', sans-serif;
  float: right;
  height: 60px;
  width: 40px;
  line-height: 60px;
  text-align: center;
}

.meter .btn-info .btn-info-text {
  cursor: pointer;
  float: right;
}

.meter .btn-info .btn-info-text:hover {
  color: #333333;
}

.meter .middle {
  height: 50px;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
}

.meter .middle .wrapper {
  background-color: #e6e6e6;
  height: 10px;
  width: 100%;
}

.meter .middle .bar {
  height: 10px;
  float: left;
  min-width: 10%;
  width: 0%;
  
  -webkit-transition: width 0.25s ease-in-out;
     -moz-transition: width 0.25s ease-in-out;
      -ms-transition: width 0.25s ease-in-out;
       -o-transition: width 0.25s ease-in-out;
          transition: width 0.25s ease-in-out;
}

.meter .middle .bar-negative {
  background-color: #E6E6E6
  height: 10px;
  overflow: hidden;
  width: 100%;
}

.meter .middle .name {
  font: 500 0.875em "Avenir", "Muli", sans-serif;
  margin-top: 6px;
  padding-bottom: 2px;
  text-align: center;
}

.candidate .info {
  background-color: #fafafa;
  max-height: 0;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 20px;
  overflow-y: hidden;
  padding-top: 0;
  padding-bottom: 0;
  
  -webkit-transition: all 0.25s ease-in-out;
     -moz-transition: all 0.25s ease-in-out;
      -ms-transition: all 0.25s ease-in-out;
       -o-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
}

.candidate .info.expand {
  max-height: 600px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.candidate .info .content {
  border-bottom: 1px solid #333333;
  font: 300 0.875em "Source Serif Pro";
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
}

.candidate .info .links {
  float: right;
}

.footer-space {
  background: transparent;
  height: 150px;
  position: relative;
}

.footer {
  background-color: #B3B3B3;
  bottom: 0;
  color: white;
  display: none;
  height: 150px;
  left: 0;
  padding-top: 55px;
  position: fixed;
  text-align: center;
  width: 100vw;
  z-index: -1;
}