<div class="outer"> <!-- outer container of main interface -->
      <div class="main" ng-controller="MainController">
        
        <section class="issues">
          <div class="header">
            <div class="aligner"></div>
            <div class="title">
              <span class="overlay">The ISSUES</span>
              <div class="tag-red"></div>
            </div>
            <div class="tag-blue"></div>
          </div>

          <div class="box">
            <div class="header-under">
              <div class="aligner"></div>
              <div class="title">
                <span class="overlay">The ISSUES</span>
                <div class="bg-tag-red"></div>
              </div>
            </div>
            <div class="col-xs-4 col-lg-3" ng-repeat="issue in issues">
              <issue-info info="issue" ng-click="toggleIssue(issue)"></issue-info>
            </div>
          </div>
          
          <footer class="footer">
            <button type="button" class="btn-nav" id="done" ng-click="doneIssues()">Done</button>
          </footer>
        </section>

        <section class="questions">
          <div class="header">
            <div class="aligner"></div>
            <div class="title">
              <span class="overlay">The QUESTIONS</span>
              <div class="tag-blue"></div>
            </div>
          </div>

          <div class="box">
            <div class="card" ng-repeat="questionID in display_questions">
              <question-info index="questionID"></question-info>
            </div>
          </div>
          
          <footer class="footer">
            <button type="button" class="btn-nav" ng-click="showIssues()" id="add-remove">Add/Remove Issues</button>
            <button type="button" class="btn-nav" ng-click="showIssues()" id="about">About</button>
          </footer>
        </section>
        
        <section class="candidates">
          <div class="header">
            <div class="aligner"></div>
            <div class="title">
              <span class="overlay">The CANDIDATES</span>
              <div class="tag-white"></div>
            </div>
          </div>
          
          <div class="box">
            <div ng-repeat="candidate in candidates" class="candidate">
              <candidate-info info="candidate"></candidate-info>
            </div>
          </div>
        </section>
        
        <div class="tint" ng-class="{'disabled' : !tinted}" ng-click="doneIssues()">
        </div>
        <div class="message click-through" ng-class="{'disabled': !tinted}">
          <div class="wrapper">
            <div class="message-bg"></div>
            <div class="message-box">
              <div class="message-top">
              Pick the issues you really care about. <br>
              We'll give you the questions that America really needs answers to, with emphasis on the issues you picked.
              </div>
<!--
              <div class="message-bottom">
                Don't worry about picking everything at once. You can always add or remove issues later.
              </div>
-->
            </div>
          </div>
        </div>
      </div>
    </div>