<style>
  
.question {
  background-color: #FFFFFF;
  margin-top: 35px;
  min-height: 150px;
  position: relative;
  
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.25);
}
  
   .content {
  padding-left: 35px;
  padding-right: 25px;
  padding-top: 15px;
  position: relative;
}

 .content .prompt {
  font-size: 1.4em;
  font-weight: 500;
}

 .content .info {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

 .buttons {
  height: 35px;
  width: 100%;
}

.wrapper {
  height: 35px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

 .buttons .wrapper .btn-answer {
  border: none;
  color: #FFFFFF;
  height: 100%;
  opacity: 0.8;
  width: 55px;
  position: relative;
}

.yes {
  background-color: #70B562;
}

.no {
  background-color: #D64B38;
}

.skip {
  background-color: #B3B3B3;
}

 .buttons .wrapper .bar {
  height: 5px;
  width: 0;
  margin-top: 30px;
  position: relative;
  z-index: 2;
  
  -webkit-transition: width 0.15s ease-in-out;
  -moz-transition: width 0.15s ease-in-out;
  -ms-transition: width 0.15s ease-in-out;
  -o-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

.btn-answer.yes {
  float: left;
  z-index: 4;
}

.bar.yes {
}

.btn-answer.no {
  float: left;
  z-index: 4;
}

.bar.no { 
}

.btn-answer.skip {
  float: right;
  z-index: 4;
}

.bar.skip {
}

.buttons .wrapper .btn-answer:hover {
  opacity: 0.5;
}

.skip-cover {
  background-color: white;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.5;
  z-index: 3;
}

.footer #add-remove {
  float: left;
  margin-top: 9px;
  margin-left: 27px;
}

.footer #about {
  float: right;
  margin-top: 9px;
  margin-right: 40px;
}
</style>

<div class="question">
<!--  <div ng-class="{'skip-cover' : skipped}"></div>-->
  <div class="content">
    <div class="prompt">{{ question.text }}</div>
    <div class="info">
      <p> User Answer: {{ question.user_answer }} <br>
       Question completed: {{question.completed }} <br>
       Question description:</p>
    </div>
  </div>
  <div class="buttons">
    <div class="wrapper">
      <div style="float: left; width: 35px;">
        <div class="bar yes" style="float: right"></div>
      </div>
      <button type="button" class="btn-answer yes" ng-click="answer(yes)" aria-label="Yes">Yes</button>
      <div style="overflow: hidden">
        <div class="bar yes"></div>
      </div>
    </div>
<!--
    <div class="wrapper">
      <div style="float: left; width: 90px;">
        <div class="bar no" style="float: right"></div>
      </div>
      <button type="button" class="btn-answer no" ng-click="answer(no)" aria-label="No">No</button>
      <div style="overflow: hidden">
        <div class="bar no"></div>
      </div>
    </div>
    <div class="wrapper">
      <div style="float: right; width: 25px;">
        <div class="bar skip right" style="float: left"></div>
      </div>
      <button type="button" class="btn-answer skip" ng-click="skip()" aria-label="No">
        {{ (skipped ? "Unskip" : "Skip") }}
      </button>
      <div style="overflow: hidden">
        <div class="bar skip left" style="float: right"></div>
      </div>
    </div>
-->
  </div>
</div>

<div class="wrapper">
      <div style="float: left; width: 35px;">
        <div class="bar yes" style="float: right"></div>
      </div>
      <button type="button" class="btn-answer yes" ng-click="answer(yes)" aria-label="Yes">Yes</button>
      <div style="overflow: hidden">
        <div class="bar yes"></div>
      </div>
</div>
<div class="buttons">
    <div class="wrapper">
      <div style="float: left; width: 35px;">
        <div class="bar yes" style="float: right"></div>
      </div>
      <button type="button" class="btn-answer yes" ng-click="answer(yes)" aria-label="Yes">Yes</button>
      <div style="overflow: hidden">
        <div class="bar yes"></div>
      </div>
    </div>
<!--
    <div class="wrapper">
      <div style="float: left; width: 90px;">
        <div class="bar no" style="float: right"></div>
      </div>
      <button type="button" class="btn-answer no" ng-click="answer(no)" aria-label="No">No</button>
      <div style="overflow: hidden">
        <div class="bar no"></div>
      </div>
    </div>
    <div class="wrapper">
      <div style="float: right; width: 25px;">
        <div class="bar skip right" style="float: left"></div>
      </div>
      <button type="button" class="btn-answer skip" ng-click="skip()" aria-label="No">
        {{ (skipped ? "Unskip" : "Skip") }}
      </button>
      <div style="overflow: hidden">
        <div class="bar skip left" style="float: right"></div>
      </div>
    </div>
-->
</div>