<div class="question">
  <div ng-class="{'skip-cover' : top()=='S'}"></div>
  <div class="content">
    <div class="prompt">{{ question.text }}</div>
    <div class="info">
<!--
      <p> User Answer: {{ question.user_answer }} <br>
       Question completed: {{question.completed }} <br>
       Question description:</p>
-->
    <p>{{ question.description }}</p>
    </div>
  </div>
  <div class="buttons">
    <div class="wrapper">
      <div style="float: left; width: 20px;">
        <div class="bar yes" ng-class="{'extend':top()=='Y'}" style="float: right"></div>
      </div>
      <button type="button" class="btn-answer yes" ng-class="{'selected':top()=='Y', 'deselected':top()=='N'}" ng-click="answer('Y')" aria-label="Yes">Yes</button>
      <div style="overflow: hidden">
        <div class="bar yes" ng-class="{'extend':top()=='Y'}"></div>
      </div>
    </div>
    
    <div class="wrapper">
      <div style="float: left; width: 75px;">
        <div class="bar no" ng-class="{'extend':top()=='N'}" style="float: right"></div>
      </div>
      <button type="button" class="btn-answer no" ng-class="{'selected':top()=='N', 'deselected':top()=='Y'}" ng-click="answer('N')" aria-label="No">No</button>
      <div style="overflow: hidden">
        <div class="bar no" ng-class="{'extend':top()=='N'}"></div>
      </div>
    </div>
    
    <div class="wrapper">
      <div style="float: right; width: 20px;">
        <div class="bar skip right" ng-class="{'extend':top()=='S'}" style="float: left"></div>
      </div>
      <button type="button" class="btn-answer skip" ng-class="{'selected':top()=='S'}" ng-click="skip()" aria-label="No">
        {{ (top()=='S' ? "Unskip" : "Skip") }}
      </button>
      <div style="overflow: hidden">
        <div class="bar skip left"  ng-class="{'extend':top()=='S'}" style="float: right"></div>
      </div>
    </div>
  </div>
</div>