<div class="question">
  <div ng-class="{'skip-cover' : skipped}"></div>
  <div class="content">
    <div class="prompt">{{ question.text }}</div>
    <div class="info">
<!--
      <p> User Answer: {{ question.user_answer }} <br>
       Question completed: {{question.completed }} <br>
       Question description:</p>
-->
    </div>
  </div>
  <div class="buttons">
    <div class="wrapper">
      <div style="float: left; width: 35px;">
        <div class="bar yes" ng-class="{'extend':question.user_answer==5}" style="float: right"></div>
      </div>
      <button type="button" class="btn-answer yes" ng-class="{'selected':question.user_answer == 5, 'deselected':question.user_answer == 1}" ng-click="answer(yes)" aria-label="Yes">Yes</button>
      <div style="overflow: hidden">
        <div class="bar yes" ng-class="{'extend':question.user_answer==5}"></div>
      </div>
    </div>
    <div class="wrapper">
      <div style="float: left; width: 90px;">
        <div class="bar no" ng-class="{'extend':question.user_answer==1}" style="float: right"></div>
      </div>
      <button type="button" class="btn-answer no" ng-class="{'selected':question.user_answer == 1, 'deselected':question.user_answer == 5}" ng-click="answer(no)" aria-label="No">No</button>
      <div style="overflow: hidden">
        <div class="bar no" ng-class="{'extend':question.user_answer==1}"></div>
      </div>
    </div>
    <div class="wrapper">
      <div style="float: right; width: 25px;">
        <div class="bar skip right" ng-class="{'extend':skipped}" style="float: left"></div>
      </div>
      <button type="button" class="btn-answer skip" ng-class="{'selected':skipped}" ng-click="skip()" aria-label="No">
        {{ (skipped ? "Unskip" : "Skip") }}
      </button>
      <div style="overflow: hidden">
        <div class="bar skip left"  ng-class="{'extend':skipped}" style="float: right"></div>
      </div>
    </div>
  </div>
</div>